<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning,MissingLeanbackLauncher">
    <uses-feature android:name="android.software.leanback"
        android:required="false" />

    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:banner="@drawable/lb_card_foreground"
        android:allowBackup="true"
        android:icon="@drawable/icon_launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/Base.Theme.Artimo_smart_frame">

        <activity android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TherapyActivity"
            android:exported="true"
            android:screenOrientation="landscape"/>
        <activity android:name=".DefaultArtActivity"
            android:exported="true"
            android:screenOrientation="landscape"/>
        <activity android:name=".ArtframeActivity"
            android:exported="true"
            android:screenOrientation="landscape"/>
        <activity android:name=".TherapyframeActivity"
            android:exported="true"
            android:screenOrientation="landscape"/>




    </application>



</manifest>